name: Build Release & Create MSI Files
# This workflow is intended to produce a new Helios build on a push on 
# a release candidate branch.  On successful build and packaging, the files
# are zipped and cached for use by the publishing workflow.
# 
# This workflow requires strict adherence to the Helios Tag and Branch naming
# conventions.

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:  
  build:    
    runs-on: windows-latest
   
    steps:      
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-tags: true
          fetch-depth: 0

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup VS Dev Environment
        uses: seanmiddleditch/gha-setup-vsdevenv@v5
        
      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE

      - name: Disable Out of Process Building
        run: .\DisableOutOfProcBuild.exe
        working-directory: C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\CommonExtensions\Microsoft\VSI\DisableOutOfProcBuild

      - name: Build x64 Solutions
        continue-on-error: true
        shell: cmd
        run: |
          echo building HeliosProfilePatcher Release x64
          msbuild HeliosProfilePatcher.sln /p:Configuration=Release /p:Platform="x64"
          echo building 64-bit installers
          devenv Helios.sln /Build "JustInstaller|x64"

      - name: zip up the msi
        continue-on-error: true
        run: |
          tar -a -c -f "./Assets/Helios_Profile_Patcher_Installers.zip" -C "Installer\Release" *.msi
          
      - name: Upload Installers
        uses: actions/upload-artifact@v4
        with:
          name: Helios Profile Patcher 64Bit Installer
          path: "./Assets/Helios_Profile_Patcher_Installers.zip"
          retention-days: 2
  
